/*this formats the page, stylesheet*/

/* put custom css here */
#title{
	font-size: large;
}

a:link    {color:blue;}
a:visited {color:purple;}
a:hover   {font-weight: bold;}
a:active  {font-weight: bold; color:green;}

body {
  padding-top: 0px;
  font-family: Helvetica, sans-serif;

}
#project_table_length{
	padding-left: 400px;
	padding-bottom: 20px;
}

#toggleList li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
/* override boostrap pagination styling */
.pagination {
	margin: 0;
}
.pagination > li > a, .pagination > li > span {
	border: none;
}

/* give some spacing for sort icons */
.table thead tr th {
	padding-right: 15px;
}

table {
	/*top: 50000px;*/
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid #787878;
	text-align: left;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
}

table td{font-size: small;}
table td:nth-child(2) {padding-left: 5px;}
table tr.odd {background-color: #ddd;}
table tr.even {background-color: white;}


svg {
	display: inline;
	border: 1px solid #787878;
	padding-right: 20px;
}

.axis path, .axis line{
	fill: none;
	stroke: black;
	shape-rendering: cripEdges;
}

.axis text{
	font-family: sans-serif;
	font-size: 11px;
}